@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loading-spinner {
    border           : solid 16px #0042a4;
    border-radius    : 50%;
    width            : 50px;
    height           : 50px;
    border-top       : 16px solid #3775cf;
    border-right     : 16px solid #619bee;
    border-bottom    : 16px solid #96bff9;
    border-left      : 16px solid #c9e0ff;
    -webkit-animation: spin 2.5s linear infinite;
    animation        : spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.delete-button{
  cursor: pointer;
}

.curser-pointer{
  cursor: pointer;
}

.main-nav-bar{
  background-color: beige;
}

.nav-list{
  list-style-type: none;
  display: flex;
  width: 50%;
  margin: auto; 
  padding: 0;
}

.nav-list li {
  margin: 10px 15px; 
}

.nav-list li a {
  text-decoration: none;
  color: rgb(25, 25, 25);
}